<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Title</title>
    <meta name="desciption" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="contrib/css/normalize.css">
    <link rel="stylesheet" href="contrib/css/main.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<canvas id="lineChart" height="400" width="400"></canvas>
<script src="https://cdnjs.com/libraries/Chart.js"></script>
<script src="contrib/js/main.js"></script>
</body>
</html>